.spinning {
  margin-right: 7px;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg); }
  to { transform: scale(1) rotate(360deg); }
}

#bandit-loader {
  background-color: inherit;
  border-radius: 0.1rem;
  color: inherit;
  &:hover {
    background-color: rgb(241, 135, 135);
    color: white;
  }
}