.userCard {
  padding: 1rem;
  margin: 1rem 0;
  -webkit-box-shadow: 0px 3px 7px 0px rgba(171,171,171,1);
  -moz-box-shadow: 0px 3px 7px 0px rgba(171,171,171,1);
  box-shadow: 0px 3px 7px 0px rgba(171,171,171,1);

  span {
    margin-right: 1rem;
    padding: 0 1rem;
    border-radius: 2rem;
    background-color: rgb(231, 211, 211);
  }

  a {
    color: inherit;
    &:visited {
      color: inherit;
      text-decoration: none;
    }
    &:hover {
      text-decoration: none;
    }
  }
}

button {
  &:hover {
    cursor: pointer;
  }
}