.dropdown {
  display: inline !important;
}

#b-d-toggle {
  background-color: inherit;
  color: inherit;
  margin: 0 0 1rem 0;
}

#l-row {
  padding-left: 0;
}

#mask {
  border-radius: 3px;
  border: 1px solid grey;
}