.Home {
  margin: 2rem; }

#welcome img {
  height: 10rem;
  width: auto;
  margin: 2rem 0; }

#welcome .col {
  float: left;
  min-width: 20%; }

#welcome .row:after {
  content: "";
  display: table;
  clear: both; }
