.Home {
  text-align: center; }

#welcome img {
  height: 10rem;
  width: auto;
  margin: 4rem 0; }

a :link {
  text-decoration: none; }

a :visited {
  text-decoration: none; }

a :hover {
  text-decoration: none; }

.col {
  float: left;
  width: 33%; }

.row:after {
  content: "";
  display: table;
  clear: both; }
