#welcome {
  img {
    height: 10rem;
    width: auto;
    margin: 2rem 0;
  }
  .row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .col-sm-2 {
      display: flex;
      justify-content: center;
    }
  }
}

.info {
  margin: 2rem;
  button {
    margin: 1rem 0;
  }
}