#profile-img {
  max-width: 10rem;
  height: auto;
  display: block;
  margin: auto;
  border-radius: 10%;
}

.UserInfo {
  h4 {
    display: inline;
  }
  i {
    padding-right: 1.5rem;
  }
  .col {
    float: left;
    margin: 0 1rem;
  }
  .col-2 {
    width: 25%;
  }
  .col-6 {
    max-width: 75%;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
}

.Profile {
  padding: 2rem;
}