$grey: #eaf2ff;

.UserInfo {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.4rem;
  h6 {
    display: inline;
  }
  i {
    padding-right: 1.5rem;
  }
  div {
    margin: 1rem;
  }
  img {
    height: 12rem;
    width: 10rem;
    overflow: hidden;
    flex-shrink: 0;
    border-radius: 10%;
  }
  .UserDetails {
    flex-basis: 16rem;
    flex-grow: 0.2;
    flex-shrink: 1;
    h5, span {
      font-weight: 450;
    }
  }
}

.EditAccount, .Login {
  Input {
    background-color: inherit;
    border: none;
    border-bottom: 2px solid grey;
    padding: 0.5rem 0.9rem;
    margin: 0.3rem 0;
    box-sizing: border-box;
    border-radius: 0;
    &:focus {
      border-bottom: 2px solid black;
      background-color: inherit;
    }
  }
  .row {
    display: flex;
    align-items: center;
  }
  .big-row Label {
    align-self: flex-start;
  }
}